<main data-template="site/home" id="home">
  <div class="home-item">
    <img src="{data.item1.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item1.title.logo}</p>
      <p>{data.item1.title.det}</p>
    </div>
    <p>{data.item1.desc}</p>
  </div>
  <div class="home-item">
    <img src="{data.item2.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item2.title.logo}</p>
      <p>{data.item2.title.det}</p>
    </div>
    <p>{data.item2.desc}</p>
  </div>
  <div class="home-item">
    <img src="{data.item3.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item3.title.logo}</p>
      <p>{data.item3.title.det}</p>
    </div>
    <p>{data.item3.desc}</p>
  </div>
  <div class="home-item">
    <img src="{data.item4.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item4.title.logo}</p>
      <p>{data.item4.title.det}</p>
    </div>
    <p>{data.item4.desc}</p>
  </div>
  <div class="home-item">
    <img src="{data.item5.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item5.title.logo}</p>
      <p>{data.item5.title.det}</p>
    </div>
    <p>{data.item5.desc}</p>
  </div>
  <div class="home-item">
    <img src="{data.item6.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item6.title.logo}</p>
      <p>{data.item6.title.det}</p>
    </div>
    <p>{data.item6.desc}</p>
  </div>
  <div class="home-item">
    <img src="{data.item7.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item7.title.logo}</p>
      <p>{data.item7.title.det}</p>
    </div>
    <p>{data.item7.desc}</p>
  </div>
  <div class="home-item">
    <img src="{data.item8.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item8.title.logo}</p>
      <p>{data.item8.title.det}</p>
    </div>
    <p>{data.item8.desc}</p>
  </div>
  <div class="home-item">
    <img src="{data.item9.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item9.title.logo}</p>
      <p>{data.item9.title.det}</p>
    </div>
    <p>{data.item9.desc}</p>
  </div>
  <div class="home-item">
    <img src="{data.item10.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item10.title.logo}</p>
      <p>{data.item10.title.det}</p>
    </div>
    <p>{data.item10.desc}</p>
  </div>
  <div class="home-item">
    <img src="{data.item11.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item11.title.logo}</p>
      <p>{data.item11.title.det}</p>
    </div>
    <p>{data.item11.desc}</p>
  </div>
  <div class="home-item">
    <img src="{data.item12.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item12.title.logo}</p>
      <p>{data.item12.title.det}</p>
    </div>
    <p>{data.item12.desc}</p>
  </div>  
  <div class="home-item">
    <img src="{data.item13.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item13.title.logo}</p>
      <p>{data.item13.title.det}</p>
    </div>
    <p>{data.item13.desc}</p>
  </div>  
  <div class="home-item">
    <img src="{data.item14.img}" alt="no image found" />
    <div class="item-header">
      <p>{data.item14.title.logo}</p>
      <p>{data.item14.title.det}</p>
    </div>
    <p>{data.item14.desc}</p>
  </div>
  <!-- <p>{data.item12.img}</p> -->
</main>
